@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap');

* {
  padding: 0;
  margin: 0;
  /* check this out */
  box-sizing: border-box;
  font-family: Outfit;
}

body {
  min-height: 100vh;
}

a {
  text-decoration: none;
  /* check this out */
  color: inherit;
}



.app {
  width: 80%;
  margin: auto;
}